/**************************************
                ELEMENT 
***************************************/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 8pt;
}

h1 {
    font-size: 18pt;
    display: inline-block;
    vertical-align: top;
}

h2 {
    padding: 5px;
    border-radius: 3px;
    background-color: #000;
    color: white;
}

h3 {
    padding: 5px;
    border-radius: 3px;
    background-color: #999;
}

table {
    display:inline-block;
    vertical-align:top;
}

th {
    background-color: #d9d9d9;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

td, th {
    padding: 5px 5px 5px 5px;
}
/**************************************
                    ID 
***************************************/

#menu-div {
    padding: 7px 7px 0px 7px;
    margin: -10px;
    background-color: rgba(197, 0, 10, 1);
    color: #fff;
}

#form-filters {
    display: inline-block;
}

#menu-logotipo {
    height: 60px;
    border-style: solid;
    border-width: 5px 5px 3px 5px;
    border-color: #fff;
    vertical-align: middle;
}

#supervisor-app-table {
    margin-left: 225px;
}

#supervisor-table-meta {
    font-size: 9pt;
}

#supervisor-progdiar-table {
    display: none;
}

#supervisor-meta-subgroup {
    border-spacing: 1px;
}
/**************************************
                CLASS 
***************************************/
.pattern-width{
    width:254px;
}

.bold-content {
    font-weight: bold;
}

.spacer {
    width:225px;
}

.spacer-2 {
    width: 87px;
}

.canvas-main-wrapper {
    display: inline-block;
    display: 416px;
}
.canvas-wrapper {
    display: inherit;
}

.hide {
    display: none;
}

.th-meta {
    width: 173px;
    background-color:rgba(197, 0, 10, 1);
    color:white;
}

.th-performance {
    width: 173px;
}

.th-acumulado {
    width: 67px;
}

.th-progdiar {
    width: 30px;
}

.td-center {
    text-align: center;
}

